.main-block, .house, .roof, .chimney, .door, .window{
  position: relative;
}
.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
  z-index: 0;
  top: 20px;
  left: 75px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    z-index: 3;
    bottom: 290px;
    left: 40px;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  z-index: 4;
  bottom: 220px;
  left: 90px;
}
.door {
  width: 60px;
  height: 90px;
  background: brown;
  z-index: 1;
  top: 210px;
  left: 140px;
  
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
  z-index: 2;
  top: 120px;
  left: 80px;
}
  
