table{
	border-collapse: collapse;
}
td{
	background: #d8e6f3;
}
th, .row{
	background: #afcde7;
	color: white;
}
td, th{
	padding: 15px 40px;
	border: 1px solid white;
}
.row{
	padding: 0 80px 0 20px;
}