*{
	margin: 0;
	padding: 0;
}
.full {
	font-size: 0;
	max-width: 800px;
	width: 100%;
}

.text_head{
	font-size: 16px;
}
.slider{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid gray;
}

.item{
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	width: 150px;
	min-height: 330px;
	overflow: hidden;
}

.item_description{
	padding: 10px;
}
.item_head, .item_name, .item_coast, .item_description{
	text-align: center;
}

.item_head, .item_name, .item_coast{
	padding: 10px 0;
	font-size: 14px;
}

.item_head{
	border-bottom: 1px solid gray;
}

.slick-prev:before, .slick-next:before{
	color: black;
}

.slick-prev, .slick-next{
	top: 20%;
}