.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.blue, .red, .yellow {
  width: 100px;
  height: 100px;
  position: relative;
}
.blue {
  background: blue;
  top: 125px;
  left: 125px;
  z-index: 1;
}
.red {
  background: red;
  top: -15px;
  left: 70px;
  z-index: 0;
}
.yellow {
  background:yellow;
  top: -35px;
  left: 170px;
  z-index: 2;
}