*{
	margin: 0;
	padding: 0;
}
.full{
	margin: auto;
	width: 600px;
	height: 450px;
	padding: 4px;
}
.main{
	position: relative;
	border: 4px solid #3366ff;
	width: 100%;
	height: 100%;
}
.line, .line2, .square1, .square2, .square3, .square4, .square5, .text1, .text2, .text3, .text4, .text5{
	position: absolute;
}
.line, .line2{
	border-left: 1px solid #3366ff;
    width: 0px;
    height: 380px;
    top: 10px;
}
.line{
    left: 33%;
}
.line2 {
    right: 33%;
}
.square{
	height: 36px;
	width: 36px;
	background: #3366ff;
}
.text{
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
}
.square1{
	top: 50px;
    left: 10px;
}
.square2{
    top: 90px;
    left: 50px;
}
.square3{
    top: 185px;
    left: 150px;
}
.square4{
    top: 90px;
    left: 310px;
}
.square5{
    top: 185px;
    left: 490px;
}
.text1{
    top: 50px;
    left: 55px;
}
.text2{
    top: 90px;
    left: 95px;
}
.text3{
    top: 185px;
    left: 70px;
}
.text4{
    top: 100px;
    left: 260px;
}
.text5{
    top: 179px;
    left: 472px;
}