div{
	margin: 20px;
}
button{
	border:none;
	border-radius: 6px;
	background-color: #f44336;
	width: 100%;
	font-weight: bold;
	height: 30px;
	color: white;
}
.mypage{
	width: 480px;
	height: 900px;
}
.header img{
	width: 480px;
	height: 100px;
	margin: -20px;
}
h4{
	text-align: center;
}	
.text{
	font-family: Arial, sans-serif;
	padding: 10px;
}
.row{
	margin: -5px;
}
.col img{
	width: 200px;
	height: 200px;
}
.col{
	float:left;
	width: 200px;
	height: 260px;
}
.footer{
	height: 160px;
	background-color: rgb(9,133,157);
}
.social{
	text-align: center;
	color: white;
}
.social img{
	width: 50px;
	margin: 5px;
}