div{
	border: 2px solid black;
	margin: 10px;
	text-align: center;
}
.header{
	height: 60px;
}
.wrap{
	height: 435px;
}
.main{
	float: left;
	width: 710px;
	height: 410px;
}
.sidebar{
	float: right;
	width: 520px;
	height: 410px;
}
.footer{
	height: 100px;
}