.full{
    margin: auto;
    width: 600px;
    height: 450px;
    padding: 4px;
    border: 4px solid #3366ff;
}
table{
    position: relative;
    width: 100%;
}
.line, .line2, .square1, .square2, .square3, .square4, .square5, .text1, .text2, .text3, .text4, .text5{
    position: absolute;
}
.line{
    top: 20px;
    left: 33%;
    border-left: 1px solid #36f;
    width: 0px;
    height: 380px;
}
.line2{
    top: 20px;
    right: 33%;
    border-left: 1px solid #36f;
    width: 0px;
    height: 380px;
}
.square{
    height: 36px;
    width: 36px;
    background: #36f;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.square1{
    top: 60px;
    left: 10px;
}
.square2{
    top: 100px;
    left: 50px;
}
.square3{
    top: 200px;
    left: 150px;
}
.square4{
    top: 80px;
    left: 300px;
}
.square5{
    top: 200px;
    left: 490px;
}
.text1{
    top: 60px;
    left: 50px;
}
.text2{
    top: 100px;
    left: 90px;
}
.text3{
    top: 200px;
    left: 60px;
}
.text4{
    top: 90px;
    left: 245px;
}
.text5{
    top: 200px;
    left: 465px;
}